:root {
  --txt-color: #0f0b05;
  --link-color: #0f0b05;
  --txt-font: 'Radio Canada', 'Noto Sans JP', sans-serif;
  --back-color: #f8f8f8;
  --101-color: #ecf4f9;
  --100-color: #fbf3d2;
  --99-color: #f9f2eb;
  --98-color: #fae8c2;
  --97-color: #e2efe7;
  --96-color: #f2f5fb;
}
